@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 25px 25px 15px 25px;
}

.header h1 a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #172b4d;
}

.header .nav-item {
  display: none;
}

.header nav .fa-bars {
  font-size: 20px;
  margin-right: 10px;
}

/* Mobile menu navigation */

.nav-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  backdrop-filter: blur(10px);
  display: none;
  color: #fff5e1;
}

.nav-menu.show {
  display: flex;
}

.fa-x {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #67798e;
  font-size: 20px;
  cursor: pointer;
}

.nav-menu ul a {
  text-decoration: none;
  color: #10100f;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-menu ul {
  position: absolute;
  top: 90px;
  left: 12px;
  padding: 16px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 40px;
  color: #3a4a42;
}

/* ------------------------------ */

.headline {
  background-image: url(../images/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 24px;
  height: 726px;
  gap: 58px;
}

.supporting-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.headline .primary .supporting-text,
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #36b37f;
}

.headline .primary h1 {
  color: #172b4d;
  transition: font-size 0.5s ease-out;
  animation: 3s 1 slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}

.headline .primary p {
  animation: 3s 1 slideout;
}

@keyframes slideout {
  from {
    margin-left: -300%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}

.headline .primary h1:hover {
  font-size: 55px;
  color: #36b37f;
  cursor: pointer;
}

.headline .social-media-icon {
  width: 174px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.tag li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.headline .social-media-icon li {
  text-decoration: none;
  list-style: none;
}

.work-card img {
  height: auto;
  width: 100%;
}

.headline .social-media-icon li img {
  width: 19.99px;
  height: 19.96px;
}

.headline .action .fa-chevron-down {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  padding: 15px;
}

button {
  float: left;
  margin-right: 3px;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  transition: all 250ms ease-in-out;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transform: scale(1.05);
}

button:active {
  background: #008552;
}

#form-session .social-media-icon-form li {
  list-style: none;
}

/* about section */
#about {
  background-image: url(../images/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

#about .about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 333px;
  margin: 60px 0;
  padding: 0 25px;
  background-image: url(../images/illustration-\ about\ me-\ mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about .about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

#about .about-me button {
  width: 159px;
}

#about .about-me #about-img {
  display: none;
}

#about .about-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 327px;
  grid-template-rows: 352px 352px 352px;
  justify-content: center;
}

#about .about-container .about-card {
  border: 1px solid #c1c7d0;
  background: #ebf0ee;
  border-radius: 8px;
  padding: 0 30px;
  transition: all 0.5s ease-out;
}

#about .about-container .about-card:hover {
  transform: scale(1.05);
}

#about .about-container .about-card .about-img {
  width: 120px;
  height: 120px;
  margin: 40px 0 20px 94px;
}

#about .about-container .about-card .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.project-title {
  padding: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.popup-container .popupimg-container .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 20px;
  display: flex;
}

#about .about-container .about-card .about-text .project-title {
  color: #344563;
}

#about .about-container .about-card .about-text .about-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#about .about-container .about-card .about-text .about-tag li {
  list-style: none;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  color: #36b37e;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* work section */
#work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 24px 40px 24px;
  gap: 40px;
  background-color: #e5e5e5;
}

#work .container .work-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  text-transform: capitalize;
  width: 327px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(#36b37e, #36b37e);
  background-size: 48px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 24px;
}

#work .work-container {
  display: flex;
  background-color: #091e42;
}

.work-card {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.5s ease-out;
  border: 1px solid #ebf0ee;
}

.work-card:hover {
  transform: scale(1.05);
}

.tag {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-bottom: 20px;
}

/* -----------------------Popup-mobile----- */

.popup-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(193, 199, 208, 0.7);
  backdrop-filter: blur(4px);
  padding: 150px 24px 150px 24px;
}

.popup-container .popupimg-container {
  display: flex;
  flex-direction: column;
  min-width: 343px;
  max-width: 500px;
  min-height: 390px;
  max-height: 718px;
  border-radius: 16px;
  padding: 18px 16px 18px 16px;
  background-color: #fff;
}

.popup-container .popupimg-container .image-container {
  width: auto;
  height: auto;
  display: flex;
}

.popup-container .popupimg-container .image-container img {
  width: 100%;
  margin: 0;
}

.popup-container .popupimg-container .description {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.popup-container .popupimg-container .program {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  gap: 10px;
  padding: 0;
  display: flex;
  margin: 0;
}

.popup-container .popupimg-container .program .language {
  font-weight: 500;
  line-height: 20px;
  height: 30px;
  list-style: none;
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
  color: #253858;
  display: flex;
  align-items: center;
  gap: 16px;
}

.popup-container .popupimg-container .btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.popup-container .popupimg-container .btn-container .fa-x {
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.popup-container .popupimg-container .detail-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding-top: 20px;
}

.popup-container .popupimg-container .detail-footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid green;
  color: white;
  border-radius: 8px;
  background-color: #36b37f;
  height: 50px;
  width: 140px;
  transition:
    background-color 200ms ease-in-out,
    border 200ms ease-in-out,
    color 200ms ease-in-out,
    box-shadow 200ms ease-in-out;
}

.popup-container .popupimg-container .detail-footer .btn:hover {
  color: #fff;
  border: 1px solid #6070ff;
  background-color: #a8acc4;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.popup-container .popupimg-container .detail-footer .btn:active {
  background-color: #2230d2;
}

/* form-session */
#form-session {
  background-image: url(../images/illustration-contact-form.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 150px;
}

#form-session h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  padding: 60px 45px;
}

#form-session #form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form input {
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  width: 100%;
  height: 48px;
  transition: all 0.2s ease-out;
}

#form input:hover {
  transform: translateX(1.5%);
}

#form input::placeholder,
textarea::placeholder {
  padding-left: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#form textarea {
  width: 100%;
  height: 114px;
  border: 1px solid #60c095;
  margin-bottom: 24px;
  transition: all 0.2s ease-out;
}

#form textarea:hover {
  transform: translateX(1.5%);
}

#form textarea::placeholder {
  padding: 12px 0 0 16px;
  color: #091e42;
}

#form-session .social-media-icon-form {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  text-decoration: none;
  align-items: baseline;
  margin-top: 45px;
}

#form-session .footeremail {
  margin-top: 15px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 350px;
}

#frame1,
#frame2 {
  display: none;
}

footer {
  display: none;
}

@media screen and (min-width: 768px) {
  /* ---------- Pop-up for Desktop--------------- */

  .popup-container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(191, 196, 204, 0.7);
    backdrop-filter: blur(4px);
  }

  .popup-container .popupimg-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1156px;
    min-height: 390px;
    max-height: 1163px;
    border-radius: 16px;
    top: 77px;
    padding: 24px 24px 24px 24px;
    background-color: #fff;
  }

  .popup-container .popupimg-container .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
  }

  .popup-container .popupimg-container .project-info {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 12px;
    padding: 0 0 40px 0;
    margin: 0;
    color: #4b5568;
  }

  footer .social-media-icon li {
    list-style: none;
  }

  .popup-container .popupimg-container .project-info li:first-child {
    font-weight: 600;
    color: #344563;
  }

  .popup-container .popupimg-container .project-info .fa-solid {
    color: #c1c7d0;
    font-size: 8px;
  }

  .popup-container .popupimg-container .image-container {
    width: auto;
    height: 586px;
    display: flex;
    overflow: hidden;
    padding-bottom: 50px;
  }

  .popup-container .popupimg-container .image-container img {
    width: 100%;
    height: 100%;
    margin: 0;
    transform: scale(1.04);
  }

  .popup-container .popupimg-container .description {
    color: #344563;
    font-weight: 400;
    line-height: 24px;
  }

  .popup-container .popupimg-container .program {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    gap: 10px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    padding-right: 50px;
  }

  .popup-container .popupimg-container .program .language {
    font-weight: 500;
    line-height: 20px;
    height: 30px;
    list-style: none;
    background-color: #f7f7f9;
    border-radius: 10px;
    padding: 10px;
    color: #253858;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .popup-container .popupimg-container .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .popup-container .popupimg-container .btn-container .fa-x {
    display: flex;
    align-items: flex-start;
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }

  .popup-container .popupimg-container .detail-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding: 20px 20px 0 0;
  }

  .popup-container .popupimg-container .detail-footer .btn {
    position: fixed top left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #11aa1e;
    color: white;
    border-radius: 8px;
    background-color: #36b37f;
    height: 50px;
    width: 140px;
    transition:
      background-color 200ms ease-in-out,
      border 200ms ease-in-out,
      color 200ms ease-in-out,
      box-shadow 200ms ease-in-out;
  }

  .popup-container .popupimg-container .detail-footer .btn:hover {
    color: #fff;
    border: 1px solid #6070ff;
    background-color: #a8acc4;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .popup-container .popupimg-container .detail-footer .btn:active {
    background-color: #2230d2;
  }

  /* ---------------------------------------- */

  .container {
    max-width: 1155px;
    margin: 0 auto;
  }

  .header {
    justify-content: center;
    gap: 32px;
  }

  .headline .supporting-text {
    line-height: 32px;
  }

  .headline .primary .supporting-text,
  h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
  }

  .header h1,
  nav {
    display: none;
  }

  .header .nav-item {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #344563;
  }

  .headline {
    background-image: url(../images/Header-llustration-desktop@2x.png);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 1434.3px;
    transform: translateY(-234px);
    padding: 410px 375px 610px 375px;
    gap: 24px;
    justify-content: space-evenly;
  }

  .headline .action .fa-chevron-down {
    margin-top: 50px;
  }

  #work .work-title {
    width: 447px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(#36b37e, #36b37e);
    background-size: 48px 4px;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 24px;
  }

  #work {
    margin-top: 200px;
    display: grid;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 474px 474px;
    gap: 24px;
  }

  #work .container .work-container .work-card .work-img {
    width: 369px;
    height: 252px;
  }

  #work .work-card {
    height: 474px;
    width: 369px;
    z-index: 10;
  }

  #work .btn {
    margin-top: -10px;
  }

  #about {
    margin-top: 200px;
    background-image: url(../images/illustration\ about\ me\ desktop.svg);
  }

  #about .about-me {
    justify-content: space-around;
  }

  #about .about-me .supporting-text {
    width: 810px;
    line-height: 32px;
    color: #42526e;
  }

  #about .about-container {
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 352px;
    gap: 24px;
  }

  #about #about-img {
    display: block !important;
    position: absolute;
    width: 288.04px;
    height: 129.24px;
    left: -52.62px;
    top: 2750px;
  }

  #form-session {
    padding: 80px 0;
    background-image: url(../images/Frame.svg);
  }

  #form-session .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #form-session h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    padding: 50px 0;
    width: 42%;
  }

  #form-session form {
    width: 57%;
    margin: 10px;
    padding: 10px;
  }

  #form-session #form {
    align-items: flex-start;
  }

  #form li input {
    width: 670px;
  }

  #form li textarea {
    width: 670px;
  }

  #form li textarea::placeholder {
    color: #091e42;
  }

  #form-session .social-media-icon-form {
    display: none;
  }

  #frame1 {
    display: block;
    position: absolute;
    width: 236px;
    height: 261.09px;
    top: 3752px;
  }

  #frame2 {
    display: block;
    position: absolute;
    width: 130.28px;
    height: 105.85px;
    left: 330px;
    top: 3872px;
  }

  footer {
    margin-top: 80px;
    display: block;
  }

  footer .social-media-icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
    padding: 25px 0;
    gap: 18px;
  }

  .footeremail {
    display: none;
  }
}

.error {
  font-weight: bold;
  color: red;
}
