@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.portfolio__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 25px 25px 15px 25px;
}

.portfolio__navbar h1 a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #172b4d;
}

.portfolio__navbar nav .fa-bars {
  font-size: 20px;
  margin-right: 10px;
}

#main__section {
  background: white;
  background-image: url('../images/header-illsutration-mobile@2x.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 726px;
  gap: 58px;
}

.main__content .main__heading h1,
p {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.main__heading p {
  color: #36b37f;
}

.main__description {
  margin: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
}

.social__icons {
  margin: 50px;
  padding: 20px;
  border-color: black;
}

.social__icons>ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social__icons li img {
  width: 19.99px;
  height: 19.99px;
}

.action__button {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* work section */
#work .work-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 327px;
  grid-template-rows: 170px 474px 474px 474px 474px 474px 474px;
  justify-content: center;
}

#work .work-container .work-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  text-transform: capitalize;
  width: 327px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(#36b37e, #36b37e);
  background-size: 48px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

#work .work-container .work-card {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
}

.work-card .work-img {
  height: 252px;
  width: 325px;
}

.work-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.text .tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.text .tag li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

button {
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

/* About Section */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  background-image: url("../images/about-me-top.svg"), url("../images/about-me-bottom.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

#about .about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

#about .about-me button {
  width: 159px;
  margin-bottom: 15px;
}

#about .about-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 327px;
  grid-template-rows: 352px 352px 352px;
  justify-content: center;
}

.about-container .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #c1c7d0;
  background: #ebf0ee;
  border-radius: 8px;
}

.about-card .about-img {
  width: 120px;
  height: 120px;
}

.about-card .project-title {
  color: #344563;
}

.about-card .about-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 285px;
}

.about-card .frameworks {
  width: 280px;
}

.about-card .skills {
  width: 313px;
  margin-bottom: 20px;
}

.supporting-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.about-card .about-tag li {
  list-style: none;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  color: #36b37e;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

/* Form Section */

#form-session {

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 150px;
}

#form-session h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  padding: 60px 45px;
}

#form-session #form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding:10px;
}

#form input {
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  width: 100%;
  height: 48px;
  transition: all 0.2s ease-out;
}

#form input::placeholder,
textarea::placeholder {
  padding-left: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#form textarea {
  width: 100%;
  height: 114px;
  border: 1px solid #60c095;
  margin-bottom: 24px;
  transition: all 0.2s ease-out;
}

#form textarea::placeholder {
  padding: 12px 0 0 16px;
  color: #091e42;
}

#form-session .social-media-icon-form {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  text-decoration: none;
  align-items: baseline;
  margin-top: 45px;
  list-style: none;
}

#form-session .footeremail {
  margin-top: 15px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 350px;
}

#frame1,
#frame2 {
  display: none;
}

footer {
  display: none;
}