@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.portfolio {
  background: white;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
}

.portfolio__navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 20px;
}

.navbar__logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main__content {
  font-size: 20px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main__heading span {
  color: rgba(52, 140, 52, 0.84);
}

.main__description {
  margin: 40px;
  padding: 20px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  flex-grow: 0;
}

.social__icons {
  margin: 50px;
  padding: 20px;
  border-color: black;
}

.social__icons > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
