.calculator {
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.calculator-display {
  background-color: #858694;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
}

#zero {
  grid-column: 1 / 3;
}

.right {
  background-color: #f5913e;
}

.right:hover {
  background-color: #f2740d;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

.calculator-button {
  font-size: 1.2rem;
  border: none;
  height: 50px;
}
